
* {background-color: bisque !important;  !important;}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
  color: black;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  color: black;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11pt;
  color: black;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  text-align: center;
  color: black;
}

.boxes {
float: left;
width: 50%;
height: 200px;
margin-top: 10px;
margin-bottom: 30px;
}

ul {
  list-style: none;
}

